.chest {
  animation: basic-animation .5s steps(3) infinite;
  position: absolute;
}

@keyframes basic-animation {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -144px;
  }
}
